.flexbox {
    display: flex;
}

.header_button {
    background-color: #56563d;
    width: 210px;
    height: 80px;
    padding: 20px;
    text-align: center;
}

.header_button:hover {
    background-color: #919163;
}