* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #292926;
}

body {
  margin: 0 auto;
  width: 1000px;
  display: block;
}

header {
  color: #fff;
  margin: 0 auto;
  width: 1000px;
  height: 250px;
}

main {
  color: #fff;
  background-color: #404037;
  margin: 0 auto;
  width: 800px;
  padding: 50px 100px 300px 100px;
}

a {
  color: #fff;
  text-decoration: none;
}

.blogs {
  flex-wrap: wrap;
  display: flex;
  width: 800px;
}

.article {
  display: block;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  height: 240px;
  list-style: none;
  background-color: #646455;

  h2, h3 {
    margin: 5px 0;
    width: 190px;
    text-align: center;
  }

  img {
    margin: 0 20px;
    border-radius: 10px;
  }
}

pre code {
  border-radius: 10px;
  margin: 10px;
}

hr {
  margin: 15px 0;
}

h1 {
  padding: 4px 10px;
}

p {
  font-size: 16px;
  padding: 4px 10px;
}