* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #292926;
}

body {
  display: block;
}

header {
  color: #fff;
  margin: 0 auto;
  width: 1000px;
  height: 200px;
}

main {
  color: #fff;
  background-color: #404037;
  margin: 0 auto;
  width: 800px;
  padding: 50px 100px 500px 100px;
}