* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #292926;
}

body {
  margin: 0 auto;
  width: 1100px;
  display: block;
}

header {
  color: #fff;
  margin: 0 auto;
  width: 1100px;
  height: 280px;
}

main {
  color: #fff;
  background-color: #404037;
  margin: 0 auto;
  width: 900px;
  padding: 50px 100px 500px 100px;
}

a {
  color: #fff;
  text-decoration: none;
}

.blogs {
  flex-wrap: wrap;
  display: flex;
  width: 900px;
}

.article {
  display: block;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  height: 290px;
  list-style: none;
  background-color: #646455;

  h2, h3 {
    margin: 5px 0;
    font-size: 22px;
    width: 240px;
    text-align: center;
  }

  img {
    background-color: #ffffff;
    margin: 0 20px;
    border-radius: 10px;
  }
}

pre code {
  border-radius: 10px;
  margin: 10px;
}

hr {
  margin: 15px 0;
}

h2 {
  margin-left: 10px;
  font-size: 16px;
}

h1 {
  padding: 4px 10px;
}

p {
  font-size: 16px;
  padding: 4px 10px;
}

.shortcut,.mutual-link {
  background-color: #ffffff;
  border-radius: 50px;
  margin: 10px;
  padding: 10px;
}

.mutual-link {
  padding: 0;
}

.flex {
  display: flex;
  h2 {
    height: 70px;
    text-align: center;
    font-size: 20px;
    line-height: 70px;
  }
}

.banner {
  background-color: #000000;
  padding: 30px 290px;
  border-radius: 20px;
  margin: 30px;

  h2 {
    padding: 0;
    margin: 0;
    width: 200px;
    text-align: center;
  }
}